name: ci

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.4'

      - name: Audit
        run: |
          go mod download
          make audit

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6  # NOSONAR githubactions:S7637 - verified action creator
        if: github.ref_name == 'main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-windows:
    if: github.event_name == 'push'
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.4'

      - name: Audit
        run: |
          go mod download
          make audit