name: CVE Scan

on:
  workflow_call:
    inputs:
      image_tag:
        description: 'Image tag to scan'
        required: true
        type: string
      severities:
        description: 'Severities to include in the scan'
        required: false
        default: 'CRITICAL,HIGH'
        type: string

jobs:
  cve_scan:
    runs-on: ubuntu-latest
    steps:
#      - name: Run Trivy vulnerability scanner
#        uses: aquasecurity/trivy-action@0.33.1
#        with:
#          image-ref: 'ghcr.io/${{ github.repository }}:${{ inputs.image_tag }}'
#          format: 'table'
#          exit-code: '1'
#          ignore-unfixed: true
#          severity: ${{ inputs.severities }}
#          hide-progress: true
#          output: ${{ github.step_summary }}
#          version: 'v0.67.2'

      - name: Install trivy cli
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.67.2

      - name: Scan image with trivy
        run: |
          trivy image --exit-code 1 --ignore-unfixed --severity ${{ inputs.severities }} --format table ghcr.io/${{ github.repository }}:${{ inputs.image_tag }}
